<%- include('../templates/header') %>
<div class="game-details">
    <h1><%= game.title %></h1>
    <p><strong>Developer:</strong> <%= game.developer %></p>
    <p><strong>Year:</strong> <%= game.release_year %></p>
    <p><strong>Genre:</strong> <%= game.genre %></p>
    <hr>
    <p><%= game.description %></p>
    <br>
    <a href="/games">Back to list</a>
</div>
</body>
</html>
